body {
    font-family: Arial, sans-serif;
    font-size: 11pt;
    margin: 45px;
    background-color: #f0f0f0;
}

h2 {
    margin-bottom: 30px;
}

label {
    font-weight: thin;
    margin-right: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 100%;
}

.select-group {
    position: relative;
    display: flex;
    align-items: center;
    width: 30%;
}

.select-group select {
    margin-left: auto;
    background-color: #ffffff; /* Weißer Hintergrund */
    color: #4a4a4a; /* Dunkelgraue Schrift */
    border: none; /* Dünner grauer Rand */
    padding: 4px 24px 4px 8px; /* Platz für den Pfeil */
    border-radius: 10px;
    appearance: none; /* Entfernt das Browser-Standard-Styling */
    content: "⌄"; /* Unicode für den Pfeil nach unten */
    font-size: 10pt;
    outline: none; /* Entfernt den blauen Fokusrahmen */
}

/* Pfeil-Styling */
.select-group::after {
    content: "⌄"; /* Unicode für den Pfeil nach unten */
    //color: white;
    position: absolute;
    right: 7px; /* Abstand vom rechten Rand */
    bottom: 6px;
    color: #4a4a4a; /* Farbe für den Pfeil */
    pointer-events: none; /* Ignoriert Klicks auf den Pfeil */
    font-size: 12px;
}

/* Wenn das Select-Element deaktiviert ist */
.select-group select:disabled {
    color: white; /* Textfarbe für "x,y" */
}

.settings {
    height: 120px; 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.displayMaxCoord {
    color: #636363;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 27%;
}

.coordError {
    color: red; 
    display: none;
}

.pointA {
    //padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.input-section {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}
#coordinateInputs {
    display: flex;
    gap: 10px;
    align-items: center;
}

input[type="number"], select, button {
    background-color: white;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 11px;
    outline: none; /* Entfernt den blauen Fokusrahmen */
    cursor: pointer;
}
button:hover {
    background: #efefef;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.output {
    //border: 1px solid green;
    display: flex;
    flex-direction: row; // die divs in eine zeile 
    justify-content: space-between; // abstände gleichmäßig
    //gap: 10px; /* optional: fügt Abstand zwischen den Abschnitten hinzu */
    //margin-top: 20px;
    font-family: monospace;
    font-size: 10pt;
    padding: 10px;
  }
  
  .output-section {
    width: 50%; /* Breite jeder Sektion, sodass sie nebeneinander passen */
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column; /* Stellt sicher, dass Inhalte innerhalb vertikal gestapelt werden */
    //justify-content: space-between; // abstände gleichmäßig
  }

  .animation-section {
    //border: 1px solid yellow;
    padding: 10px;
    background-color: #fbfbfb;
    display: flex;
    flex-direction: row; /* Stellt sicher, dass Inhalte innerhalb vertikal gestapelt werden */
    justify-content: space-between; // abstände gleichmäßig
  }

  .labels {
    font-family: monospace;
    font-size: 10pt;
    text-align: left;
    margin-right: 10px;
}

  .result-section {
    width: 79%; /* Breite jeder Sektion, sodass sie nebeneinander passen */
    //border: 1px solid pink;
    padding: 10px;
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column; /* Stellt sicher, dass Inhalte innerhalb vertikal gestapelt werden */
  }
  
  .result {
    margin-top: 10px;
    padding: 10px;
  }

.hidden {
    display: none;
}

.steps-container {
    display: flex;
    flex-direction: row-reverse; /* Zeigt den Inhalt von rechts nach links an */
    justify-content: flex-start;
    //margin-top: 20px;
    //padding: 10px;
    //border: 1px solid #ddd;
    //background-color: #f9f9f9;
    font-family: monospace;
    white-space: pre;
    overflow-x: auto;
}

.step-bit {
    //padding: 0 5px;
    transition: background-color 0.3s;
}

.color-x { color: red; }
.color-y { color: blue; }
.color-z { color: green; }

.binary{
    //border: 1px solid yellow;
    font-family: monospace;
    font-size: 10pt;
    margin-bottom: 10px;
    //text-align: right; /* Rechtsbündige Ausrichtung */
}

.show-code-btn {
    background-color: white;
    color: #3c3c3c;
    border: 1px solid #ccc;
    //padding: 5px;
    //font-size: 10pt;
    cursor: pointer;
    border-radius: 4px;
    margin: 12px;
    outline: none; /* Entfernt den blauen Fokusrahmen */
    min-width: 80px; /* Mindestbreite für Konsistenz */
    text-align: center; /* Text zentrieren */
}

.show-code-btn:hover {
    background-color: #e5e5e5;
    border: none;
    //color: white;
}

.code-container {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    position: relative;
    //font-size: 10pt;
}


.header-section {
    display:flex;
    justify-content:space-between; /* Verteilung */
}
.hidden {
    display: none;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
