body {
    font-family: Helvetica, sans-serif;
    font-size: 11pt;
    margin: 60px;
    background-color: #f0f0f0;
}

h2 {
    font-weight: 500;
    margin-bottom: 30px;
}

h3 {
    font-family: monospace;
    font-weight: 500;
    font-size: 10pt;
    padding: 5px;
}

label {
    font-weight: 380;
    //margin-right: 10px;
    margin-top: 5px;
}

.label {
    font-weight: 500;
    margin-top: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 100%;
}

.select-group {
    position: relative;
    display: flex;
    align-items: center;
    width: 30%;
}

.select-group select {
    margin-left: auto;
    background-color: #ffffff;
    color: #4a4a4a; 
    border: none; 
    padding: 4px 24px 4px 8px; 
    border-radius: 10px;
    appearance: none; 
    content: "⌄"; 
    font-size: 10pt;
    outline: none; 
}

/* Pfeil-Styling */
.select-group::after {
    content: "⌄"; 
    position: absolute;
    right: 7px; 
    bottom: 6px;
    color: #4a4a4a; 
    pointer-events: none; 
    font-size: 12px;
}


.settings {
    height: 120px; 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.displayMaxCoord {
    color: #636363;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 27%;
}


.point, .arithmetic {
    display: flex;
    flex-direction: column; 
    min-height: 250px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    //height: 500px;
    resize: vertical;
    overflow: hidden;
}

.input-section {
    padding: 20px;
    display: flex;
    //align-items: center;
    gap: 20px;
    width: 100%;
}
.coordinateInputs {
    display: flex;
    gap: 10px;
    //align-items: center;in: 5px;
    //margin-top: 5px;

}


/* Container für jede Input-Gruppe */
.input-group {
    //display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    gap: 2px;
    height: 45px;
   
}

/* Fehlermeldungen */
.error {
    color: red;
    font-size: 8pt;
    font-weight: 350;
    margin-top: 5px;
    display: none; 
}

.subtractionError {
    color: red;
    font-size: 10pt;
    font-weight: 350;
    padding: 6px;
    display: none;
}

.coordinateInputs {
    display: flex;
    gap: 20px;
}

input, select, button {
    background-color: white;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 11px;
    outline: none; /* Entfernt den blauen Fokusrahmen */
    cursor: pointer;
}

input {
    width: 200px;
}

button:hover {
    background: #efefef;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.output {
    //border: 1px solid green;
    display: flex;
    flex-direction: row; // die divs in eine zeile 
    justify-content: space-between; // abstände gleichmäßig
    //margin-top: 20px;
    font-family: monospace;
    font-size: 9pt;
    padding: 10px;
    flex-grow: 1; /* Nimmt den restlichen Platz ein */
    overflow-y: auto;
  }
  
  .output-section {
    width: 50%;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px;
    background-color: white;
    display: flex;
    flex-direction: column; 
    //justify-content: space-between; // abstände gleichmäßig
  }

  .labels {
    font-family: monospace;
    font-size: 9pt;
    text-align: left;
    margin-right: 10px;
}

  .result-section {
    width: 79%; 
    //border: 1px solid pink;
    padding: 10px;
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column; 
  }
  
  .result, .resultForLoop{
    margin-top: 10px;
    padding: 10px;
    overflow-y: auto;
}

.resultArithmetic {
    width: 100%;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 5px;
    background-color: white;
    display: flex;
    flex-direction: column; 
}

.hidden {
    display: none;
}

.steps-container {
    display: flex;
    flex-direction: row-reverse; 
    justify-content: flex-start;
    //margin-top: 20px;
    //padding: 10px;
    //border: 1px solid #ddd;
    //background-color: #f9f9f9;
    font-family: monospace;
    font-size: 9pt;
    white-space: pre;
    overflow-x: auto;
}

.step-bit {
    //padding: 0 5px;
    transition: background-color 0.3s;
}

.color-x { color: #DC0909; }
.color-y { color: #151BB9; }
.color-z { color: #0C9329; }

.binary{
    //border: 1px solid yellow;
    font-family: monospace;
    font-size: 9pt;
    margin-bottom: 10px;
    //text-align: right; /* Rechtsbündige Ausrichtung */
}

.show-code-btn {
    background-color: white;
    color: #3c3c3c;
    border: 1px solid #ccc;
    //padding: 5px;
    //font-size: 10pt;
    cursor: pointer;
    border-radius: 4px;
    margin: 12px;
    outline: none; /* Entfernt den blauen Fokusrahmen */
    min-width: 110px; 
    text-align: center; 
}

.show-code-btn:hover {
    background-color: #e5e5e5;
    //border: none;
    //color: white;
}

.code-container {
    //background-color: black;
    //border: 1px solid #ccc;
    //padding: 10px;
    //margin: 5px;
    //border-radius: 5px;
    position: relative;
    //max-height: 550px; /* Maximale Höhe des Fensters */
    overflow-y: auto;
    font-size: 9pt;
}


.header-section {
    display:flex;
    justify-content:space-between; /* Verteilung */
}
.hidden {
    display: none;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
